table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 25%;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(93, 150, 1);
    color: white;
}

.tabela-container{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}